.App{
  min-height: 50vh;
  max-width: 60%;
  background-color: white;
  margin: auto;
  margin-top: 3rem;
  box-shadow: 5px 5px 8px 10px #e0dddd;
}

.faq{
  display: flex;
  flex-direction: column;
  padding: .5rem;
}

.i-faq{
  padding: 1rem 0;
}

.faq-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
  cursor: pointer;
}

.faq-body{
  margin-top: 1rem;
}

.faq-footer{
  margin-top: 1rem;
  font-weight: bold;
}

.hide{
  display: none;
}

.show{
  display: block;
}